In [1]:
import pandas as pd

In [65]:
filepath1 = "data/Incendies_2006_2016.csv"
filepath2 = "data/Incendies_2016_2023.csv"
dataframe1 = pd.read_csv(filepath1, sep=";", skiprows=6)
dataframe2 = pd.read_csv(filepath2, sep=";", skiprows=3)
df = pd.concat([dataframe1, dataframe2])

# To check that size of Code INSEE's values are always equal to 5
longueursCodeInsee = df['Code INSEE'].astype(str).str.len()
valeurs_uniques = longueursCodeInsee.unique()
print(valeurs_uniques)

# To convert m2 to km2
df['Surface parcourue (km2)'] = df['Surface parcourue (m2)'] * 1e-6

# To filter columns
new_df = df[['Année', 'Code INSEE', 'Surface parcourue (km2)']].copy()

# Number of fires per community
df_incendies_par_collectivite_et_annee = new_df.groupby(['Code INSEE', 'Année']).count().reset_index().copy()
df_incendies_par_collectivite_et_annee = df_incendies_par_collectivite_et_annee.rename(columns={'Surface parcourue (km2)': 'Nombre incendies'})

# Area covered by fire, by year and by community
df_surfaces_incendiées_par_collectivite_et_annee = new_df.groupby(['Code INSEE', 'Année'])['Surface parcourue (km2)'].sum().reset_index().copy()

# Merging calculated values
df_calcul_incendies_et_surfaces = pd.merge(df_incendies_par_collectivite_et_annee, df_surfaces_incendiées_par_collectivite_et_annee, on=['Code INSEE', 'Année'])

[5]

In [68]:
# Exporting dataframes
new_df.to_csv('Incendies.csv', index=False)
df_calcul_incendies_et_surfaces.to_csv('Incendies_calculs.csv', index=False)

In [36]:
df

,Année,Numéro,Département,Code INSEE,Nom de la commune,Date de première alerte,Surface parcourue (m2),Surface forêt (m2),Surface maquis garrigues (m2),Autres surfaces naturelles hors forêt (m2),...,Surfaces non boisées (m2),Précision des surfaces,Type de peuplement,Nature,Décès ou bâtiments touchés,Nombre de décès,Nombre de bâtiments totalement détruits,Nombre de bâtiments partiellement détruits,Précision de la donnée,Surface parcourue (km2)
0,2006,8806,66,66179,Saint-Laurent-de-Cerdans,2006-01-01 12:50:00,10000,10000.0,0.0,NaN,...,0.0,NaN,1.0,Naturelle,NaN,NaN,NaN,NaN,NaN,0.010000
1,2006,8917,66,66190,Salses-le-Château,2006-01-01 12:56:00,20000,0.0,20000.0,NaN,...,0.0,NaN,1.0,Involontaire (particulier),NaN,NaN,NaN,NaN,NaN,0.020000
2,2006,4695,83,83028,Callas,2006-01-01 15:40:00,30,30.0,0.0,NaN,...,0.0,NaN,5.0,Involontaire (particulier),NaN,NaN,NaN,NaN,NaN,0.000030
3,2006,8028,34,34237,Roujan,2006-01-02 18:19:00,37500,10000.0,27500.0,NaN,...,0.0,NaN,1.0,Malveillance,NaN,NaN,NaN,NaN,NaN,0.037500
4,2006,5806,83,83050,Draguignan,2006-01-02 20:57:00,200,200.0,0.0,NaN,...,0.0,NaN,5.0,Involontaire (travaux),NaN,NaN,NaN,NaN,NaN,0.000200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23449,2023,21902,83,83069,Hyères,2023-12-27 17:58:00,100,0.0,100.0,0.0,...,NaN,Estimées,NaN,Involontaire (particulier),Non,0.0,0.0,0.0,Données partielles ou non valides,0.000100
23450,2023,13754,07,07275,Saint-Mélany,2023-12-28 11:58:00,100,0.0,100.0,0.0,...,NaN,Estimées,1.0,Involontaire (travaux),Non,NaN,NaN,NaN,NaN,0.000100
23451,2023,21903,83,83110,Rougiers,2023-12-28 17:24:00,4,0.0,4.0,0.0,...,NaN,Estimées,NaN,Involontaire (travaux),Non,0.0,0.0,0.0,Données partielles ou non valides,0.000004
23452,2023,21904,83,83036,Cavalaire-sur-Mer,2023-12-29 07:22:00,60,60.0,0.0,0.0,...,NaN,Estimées,NaN,NaN,Non,0.0,0.0,0.0,Données partielles ou non valides,0.000060
23453,2023,13298,34,34301,Sète,2023-12-31 03:09:00,200,0.0,200.0,0.0,...,NaN,Estimées,NaN,Malveillance,Non,NaN,NaN,NaN,NaN,0.000200

In [55]:
new_df

       Année Code INSEE  Surface parcourue (km2)
0       2006      66179                 0.010000
1       2006      66190                 0.020000
2       2006      83028                 0.000030
3       2006      34237                 0.037500
4       2006      83050                 0.000200
...      ...        ...                      ...
23449   2023      83069                 0.000100
23450   2023      07275                 0.000100
23451   2023      83110                 0.000004
23452   2023      83036                 0.000060
23453   2023      34301                 0.000200

[51705 rows x 3 columns]

In [44]:
df_incendies_par_collectivite_et_annee

      Code INSEE  Année  Nombre incendies
0          01014   2007                 2
1          01015   2007                 1
2          01017   2015                 1
3          01032   2006                 1
4          01034   2006                 1
...          ...    ...               ...
27166      97611   2020                22
27167      97612   2020                 1
27168      97614   2020                24
27169      97615   2020                 6
27170      97616   2022                 1

[27171 rows x 3 columns]

In [48]:
df_surfaces_incendiées_par_collectivite_et_annee

      Code INSEE  Année  Surface parcourue (km2)
0          01014   2007                 0.050000
1          01015   2007                 0.020000
2          01017   2015                 0.100000
3          01032   2006                 0.010000
4          01034   2006                 0.030000
...          ...    ...                      ...
27166      97611   2020                 2.028130
27167      97612   2020                 0.006640
27168      97614   2020                 0.066701
27169      97615   2020                 0.061400
27170      97616   2022                 0.015000

[27171 rows x 3 columns]

In [66]:
df_calcul_incendies_et_surfaces

      Code INSEE  Année  Nombre incendies  Surface parcourue (km2)
0          01014   2007                 2                 0.050000
1          01015   2007                 1                 0.020000
2          01017   2015                 1                 0.100000
3          01032   2006                 1                 0.010000
4          01034   2006                 1                 0.030000
...          ...    ...               ...                      ...
27166      97611   2020                22                 2.028130
27167      97612   2020                 1                 0.006640
27168      97614   2020                24                 0.066701
27169      97615   2020                 6                 0.061400
27170      97616   2022                 1                 0.015000

[27171 rows x 4 columns]