In [4]:
import pandas as pd

In [87]:
filepath1 = "data/Incendies_2006_2016.csv"
filepath2 = "data/Incendies_2016_2023.csv"
dataframe1 = pd.read_csv(filepath1, sep=";", skiprows=6)
dataframe2 = pd.read_csv(filepath2, sep=";", skiprows=3)
df = pd.concat([dataframe1, dataframe2])
filepath3 = "data/Correspondance Communes - EPCI.csv"
cp = pd.read_csv(filepath3, sep=";")

# To check that size of Code INSEE's values are always equal to 5
longueursCodeInsee = df['Code INSEE'].astype(str).str.len()
valeurs_uniques = longueursCodeInsee.unique()
print(valeurs_uniques)

# Check for null values in all columns
df.info(show_counts=True)

# To convert m2 to km2
df['Surface parcourue (km2)'] = df['Surface parcourue (m2)'] * 1e-6
df['Surface forêt (km2)']=df['Surface forêt (m2)'] * 1e-6
df['Surface maquis garrigues (km2)'] = df['Surface maquis garrigues (m2)']  * 1e-6
df['Autres surfaces naturelles hors forêt (km2)'] = df['Autres surfaces naturelles hors forêt (m2)']  * 1e-6
df['Surfaces agricoles (km2)'] = df['Surfaces agricoles (m2)'] * 1e-6
df['Surfaces non boisées (km2)'] = df['Surfaces non boisées (m2)'] * 1e-6
df['Surfaces non boisées artificialisées (km2)'] = df['Surfaces non boisées artificialisées (m2)'] * 1e-6
df['Surfaces non boisées naturelles (km2)'] = df['Surfaces non boisées naturelles (m2)'] * 1e-6
df['Surface autres terres boisées (km2)'] = df['Surface autres terres boisées (m2)'] * 1e-6
df['Autres surfaces (km2)'] = df['Autres surfaces (m2)'] * 1e-6

# To drop unused columns
df = df.drop(columns=['Département','Numéro','Nom de la commune','Date de première alerte','Précision des surfaces','Type de peuplement','Nature','Décès ou bâtiments touchés','Nombre de décès','Nombre de bâtiments totalement détruits','Nombre de bâtiments partiellement détruits','Précision de la donnée','Surface parcourue (m2)','Surface forêt (m2)','Surface maquis garrigues (m2)','Autres surfaces naturelles hors forêt (m2)','Surfaces agricoles (m2)','Surfaces non boisées (m2)','Surfaces non boisées artificialisées (m2)','Surfaces non boisées naturelles (m2)','Surface autres terres boisées (m2)','Autres surfaces (m2)'])

[5]
<class 'pandas.core.frame.DataFrame'>
Index: 51705 entries, 0 to 23453
Data columns (total 24 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Année                                       51705 non-null  int64
 1   Numéro                                      51705 non-null  int64
 2   Département                                 51705 non-null  object
 3   Code INSEE                                  51705 non-null  object
 4   Nom de la commune                           51678 non-null  object
 5   Date de première alerte                     51705 non-null  object
 6   Surface parcourue (m2)                      51705 non-null  int64
 7   Surface forêt (m2)                          38964 non-null  float64
 8   Surface maquis garrigues (m2)               19443 non-null  float64
 9   Autres surfaces naturelles hors forêt (m2)  20615 non-null  float64
 10  Surfaces agricoles (m2)                     2733 non-null   float64
 11  Autres surfaces (m2)                        2718 non-null   float64
 12  Surface autres terres boisées (m2)          17960 non-null  float64
 13  Surfaces non boisées naturelles (m2)        11061 non-null  float64
 14  Surfaces non boisées artificialisées (m2)   10794 non-null  float64
 15  Surfaces non boisées (m2)                   29807 non-null  float64
 16  Précision des surfaces                      12338 non-null  object
 17  Type de peuplement                          20977 non-null  float64
 18  Nature                                      26459 non-null  object
 19  Décès ou bâtiments touchés                  3375 non-null   object
 20  Nombre de décès                             741 non-null    float64
 21  Nombre de bâtiments totalement détruits     742 non-null    float64
 22  Nombre de bâtiments partiellement détruits  741 non-null    float64
 23  Précision de la donnée                      1110 non-null   object
dtypes: float64(13), int64(3), object(8)
memory usage: 9.9+ MB

In [46]:
# Exporting dataframes
df.to_csv('Incendies.csv', index=False)

In [55]:
# MERGE A CORRIGER
# Rename Code Insee to CODGEO before merge
#df = df.rename(columns={df.columns[df.columns.str.strip() == 'Code INSEE'][0]: 'CODGEO'}, inplace=True)

# Sort by code Insee
#df = df.sort_values(by='CODGEO')

# Reset index
#df = df.reset_index(drop=True)

# Merge with Codes postaux
#df_summary = cp.merge(df_surfaces_incendiées_par_collectivite_et_annee[[, 
#              left_on="CODGEO", 
 #             right_on="Code Insee", 
  #            how="left")

In [93]:
# Calculating the number of fires per community
df_nombre_incendies_par_collectivite_et_annee = df.groupby(['Code INSEE', 'Année']).count().reset_index()
df_nombre_incendies_par_collectivite_et_annee = df_nombre_incendies_par_collectivite_et_annee.rename(columns={'Surface parcourue (km2)': 'Nombre incendies'})
df_nombre_incendies_par_collectivite_et_annee = df_nombre_incendies_par_collectivite_et_annee.drop(columns=['Surface forêt (km2)','Surface maquis garrigues (km2)','Autres surfaces naturelles hors forêt (km2)','Surfaces agricoles (km2)','Surfaces non boisées (km2)','Surfaces non boisées artificialisées (km2)','Surfaces non boisées naturelles (km2)','Surface autres terres boisées (km2)','Autres surfaces (km2)'])

# Calculating the area covered by fire, by year and by community
df_surfaces_incendiées_par_collectivite_et_annee = df.groupby(['Code INSEE', 'Année'])['Surface parcourue (km2)'].sum().reset_index()

# Merging calculated values
#df_calcul_incendies_et_surfaces = pd.merge(df_incendies_par_collectivite_et_annee,cp, on=['Code INSEE'])

In [72]:
df

,Année,Code INSEE,Surface parcourue (km2),Surface forêt (km2),Surface maquis garrigues (km2),Autres surfaces naturelles hors forêt (km2),Surfaces agricoles (km2),Surface non boisées (km2),Surfaces non boisées artificialisées (km2),Surfaces non boisées naturelles (km2),Surface autres terres boisées (km2),Autres surfaces (km2)
0,2006,66179,0.010000,0.01000,0.000000,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,2006,66190,0.020000,0.00000,0.020000,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,2006,83028,0.000030,0.00003,0.000000,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,2006,34237,0.037500,0.01000,0.027500,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,2006,83050,0.000200,0.00020,0.000000,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
23449,2023,83069,0.000100,0.00000,0.000100,0.0,0.0,NaN,NaN,NaN,NaN,0.0
23450,2023,07275,0.000100,0.00000,0.000100,0.0,0.0,NaN,NaN,NaN,NaN,0.0
23451,2023,83110,0.000004,0.00000,0.000004,0.0,0.0,NaN,NaN,NaN,NaN,0.0
23452,2023,83036,0.000060,0.00006,0.000000,0.0,0.0,NaN,NaN,NaN,NaN,0.0
23453,2023,34301,0.000200,0.00000,0.000200,0.0,0.0,NaN,NaN,NaN,NaN,0.0

In [89]:
df_nombre_incendies_par_collectivite_et_annee

      Code INSEE  Année  Nombre incendies
0          01014   2007                 2
1          01015   2007                 1
2          01017   2015                 1
3          01032   2006                 1
4          01034   2006                 1
...          ...    ...               ...
27166      97611   2020                22
27167      97612   2020                 1
27168      97614   2020                24
27169      97615   2020                 6
27170      97616   2022                 1

[27171 rows x 3 columns]

In [91]:
df_surfaces_incendiées_par_collectivite_et_annee

      Code INSEE  Année  Surface parcourue (km2)
0          01014   2007                 0.050000
1          01015   2007                 0.020000
2          01017   2015                 0.100000
3          01032   2006                 0.010000
4          01034   2006                 0.030000
...          ...    ...                      ...
27166      97611   2020                 2.028130
27167      97612   2020                 0.006640
27168      97614   2020                 0.066701
27169      97615   2020                 0.061400
27170      97616   2022                 0.015000

[27171 rows x 3 columns]